/* FOOTER */
footer{
    height: 12vh;
    text-align: center;
}
.socialMedia{
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 1em;
    align-items: center;
}
.line{
    width: 30vw;
    background-color: lightgray;
    border-radius: 20px;
    height: 2px;
}
.socialMedia>a{
    text-decoration: none;
}
.socialMedia>a{
    translate: 0 20%;
}
.socialMedia>a>svg{
    position: relative;
    fill: lightgray;
    stroke-width: 12;
    height: 2em;
    cursor: pointer;
}
.socialMedia>a>p{
    color: gray;
    opacity: 0;
}
.socialMedia>a>svg:hover{
    animation: dasharray 3s linear infinite alternate;
    stroke: white;
    scale: 1.1;
    transition: 1s;
}
@keyframes dasharray {
    from{ 
        stroke-dasharray: 300;
    }
    to{
        stroke-dasharray: 650;
    }
}
.socialMedia>a>svg:hover~p{
    opacity: 1;
    transition: 1s;
}
.socialMedia>svg:not(hover),footer>svg:not(hover)~p{
    transition: 1s;
}
footer>p{
    padding: .2em;
    color: dimgray;
}
@media (max-width: 600px) {
    main{
        padding-top: 8vh;
        min-height: 72vh;
    }
    .socialMedia{
        gap: 0;
        padding-bottom: .2em;
    }
    .socialMedia>a>svg{
        height: 1.5em;
    }
}